@{
    ViewData["Title"] = "Sign Up";
    Layout = "_AuthLayout";
}

<link href="~/css/LoginStyle.css" rel="stylesheet" />

<body>
    <div class="container text-center">
        <label class="mb-4">Регистрация аккаунта</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Введите адрес электронной почты">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Введите полное имя">
        </div>
        <button type="submit" class="btn btn-success" style="width: 100%">Зарегистрироваться</button>
        <hr />
        <a href="@Url.Action("Login", "Auth")">Уже есть аккаунт? Войти</a>
    </div>
</body>